<h2 style="color: DarkOrange ">Hi, welcome to the rental of {{full_name|capfirst}} information!</h2>
<h5 style="color:red">Date Time: {{time}} {{day}}</h5>


	

</table>

<li >Click <a href="/rental/list">here</a> to list your rentalinformation</li>

 <li >Click <a href="/rental/update">here</a> to update rental status it in your information</li>

<li >Click <a href="/rental/delete">here</a> to release in your information</li>
<li >Click <a href="/rental/logout">here</a> to logout.</li>

<li >Click <a href="/rental/register">here</a> to register.</li>
</p>
